#### ADDING A VARIABLE TO CAPTURE NAN

In [54]:
import pandas as pd
df=pd.read_csv('train.csv',usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [55]:
import numpy as np
df['BsmtQual_var']=np.where(df['BsmtQual'].isnull(),1,0)

In [56]:
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice  BsmtQual_var
0       Gd         NaN     Attchd     208500             0
1       Gd          TA     Attchd     181500             0
2       Gd          TA     Attchd     223500             0
3       TA          Gd     Detchd     140000             0
4       Gd          TA     Attchd     250000             0

In [57]:
#Finding the most frequent category in BsmtQual column
frequent=df['BsmtQual'].mode()[0]
frequent

'TA'

In [58]:
#Replacing the nan values in BsmtQual colum with frequent occuring values
df['BsmtQual'].fillna(frequent,inplace=True)

In [59]:
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice  BsmtQual_var
0       Gd         NaN     Attchd     208500             0
1       Gd          TA     Attchd     181500             0
2       Gd          TA     Attchd     223500             0
3       TA          Gd     Detchd     140000             0
4       Gd          TA     Attchd     250000             0

In [62]:
import numpy as np
df['FireplaceQu_var']=np.where(df['FireplaceQu'].isnull(),1,0)
frequents=df['FireplaceQu'].mode()[0]
df['FireplaceQu'].fillna(frequents,inplace=True)

In [64]:
#Nan value in the column is replaced by most freq value and 1 is placed in the new feature indicating a missing value
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice  BsmtQual_var  FireplaceQu_var
0       Gd          Gd     Attchd     208500             0                1
1       Gd          TA     Attchd     181500             0                0
2       Gd          TA     Attchd     223500             0                0
3       TA          Gd     Detchd     140000             0                0
4       Gd          TA     Attchd     250000             0                0

In [66]:
import numpy as np
df['GarageType_var']=np.where(df['GarageType'].isnull(),1,0)
frequents=df['GarageType'].mode()[0]
df['GarageType'].fillna(frequents,inplace=True)

In [67]:
df.head()

,BsmtQual,FireplaceQu,GarageType,SalePrice,BsmtQual_var,FireplaceQu_var,GarageType_var
0,Gd,Gd,Attchd,208500,0,1,0
1,Gd,TA,Attchd,181500,0,0,0
2,Gd,TA,Attchd,223500,0,0,0
3,TA,Gd,Detchd,140000,0,0,0
4,Gd,TA,Attchd,250000,0,0,0

#### SUPPOSE IF THERE ARE MORE FREQUENT CATEGORIES WE MAKE NAN ITSELF A NEW CATEGORY

In [69]:
import pandas as pd
df=pd.read_csv('train.csv',usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [70]:
def impute_nan(df,variable):
    df[variable+'_newvar']=np.where(df[variable].isnull(),'Missing',df[variable])

In [71]:
for feature in ['BsmtQual','FireplaceQu','GarageType']:
    impute_nan(df,feature)

In [72]:
#A new feature missing is created so we drop the first 3 colums and use the rest and saleprice is dependent variable so we use the same
df.head()

,BsmtQual,FireplaceQu,GarageType,SalePrice,BsmtQual_newvar,FireplaceQu_newvar,GarageType_newvar
0,Gd,NaN,Attchd,208500,Gd,Missing,Attchd
1,Gd,TA,Attchd,181500,Gd,TA,Attchd
2,Gd,TA,Attchd,223500,Gd,TA,Attchd
3,TA,Gd,Detchd,140000,TA,Gd,Detchd
4,Gd,TA,Attchd,250000,Gd,TA,Attchd

In [76]:
df=df.drop(['BsmtQual','FireplaceQu','GarageType'],axis=1)

In [77]:
df.head()

   SalePrice BsmtQual_newvar FireplaceQu_newvar GarageType_newvar
0     208500              Gd            Missing            Attchd
1     181500              Gd                 TA            Attchd
2     223500              Gd                 TA            Attchd
3     140000              TA                 Gd            Detchd
4     250000              Gd                 TA            Attchd