#### HANDLING CATEGORICAL FEATURES
#### 1) ONE HOT ENCODING

In [1]:
import pandas as pd
df=pd.read_csv('titanic.csv',usecols=['Sex'])
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [4]:
#drop_first used to remove colums which can be read through other columns
#1 indicates it is a male 0 indicates it is a female
pd.get_dummies(df,drop_first=True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1

In [5]:
import pandas as pd
df=pd.read_csv('titanic.csv',usecols=['Embarked'])

In [6]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [7]:
#dropping the nan value
df.dropna(inplace=True)

In [8]:
df.head()

  Embarked
0        S
1        C
2        S
3        S
4        S

In [11]:
pd.get_dummies(df,drop_first=True).head()

   Embarked_Q  Embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1

#### ONE HOT ENCODING FOR DATA WITH MANY CATEGORIES

In [12]:
import pandas as pd
df=pd.read_csv('mercedes.csv',usecols=['X0','X1','X2','X3','X4','X5','X6'])

In [13]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [14]:
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
m      34
ai     34
e      32
ba     27
at     25
a      21
ax     19
aq     18
am     18
i      18
u      17
aw     16
l      16
ad     14
au     11
k      11
b      11
r      10
as     10
bc      6
ao      4
c       3
aa      2
q       2
ac      1
g       1
ab      1
Name: X0, dtype: int64

In [15]:
df['X0'].unique()

array(['k', 'az', 't', 'al', 'o', 'w', 'j', 'h', 's', 'n', 'ay', 'f', 'x',
       'y', 'aj', 'ak', 'am', 'z', 'q', 'at', 'ap', 'v', 'af', 'a', 'e',
       'ai', 'd', 'aq', 'c', 'aa', 'ba', 'as', 'i', 'r', 'b', 'ax', 'bc',
       'u', 'ad', 'au', 'm', 'l', 'aw', 'ao', 'ac', 'g', 'ab'],
      dtype=object)

In [16]:
for i in df.columns:
    print(len(df[i].unique()))

47
27
44
7
4
29
12

In [19]:
#only apply one hot for top 10 most frequent values
df.X1.value_counts().sort_values(ascending=False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [20]:
#taking top 10 indices into a list
lst_10=df.X1.value_counts().sort_values(ascending=False).head(10).index
lst_10=list(lst_10)
lst_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [21]:
import numpy as np
for categories in lst_10:
    df[categories]=np.where(df['X1']==categories,1,0)

In [28]:
lst_10.append('X1')

In [29]:
#wherever there is v in the X1 v column has 1 in it
df[lst_10]

      aa  s  b  l  v  r  i  a  c  o X1 X1
0      0  0  0  0  1  0  0  0  0  0  v  v
1      0  0  0  0  0  0  0  0  0  0  t  t
2      0  0  0  0  0  0  0  0  0  0  w  w
3      0  0  0  0  0  0  0  0  0  0  t  t
4      0  0  0  0  1  0  0  0  0  0  v  v
...   .. .. .. .. .. .. .. .. .. .. .. ..
4204   0  1  0  0  0  0  0  0  0  0  s  s
4205   0  0  0  0  0  0  0  0  0  1  o  o
4206   0  0  0  0  1  0  0  0  0  0  v  v
4207   0  0  0  0  0  1  0  0  0  0  r  r
4208   0  0  0  0  0  1  0  0  0  0  r  r

[4209 rows x 12 columns]